[LIGHT PARAMETERS]
Light range: INTENSITY * 1000;
Light intensity: RANGE / 1000.
(CAN BE DIFFERENT FOR SOME SPECIAL LIGHTS)


[LIGHT COLORS]
LCZ: 255 255 255;
HCZ: 255 200 200;
EZ: 200 200 255;
Special red light: 255 50 50;
Special blue light for monitors: 220 250 255.

[AMBIENT COLORS]
LCZ/Others: 23 23 23;
HCZ: 25 20 20;
EZ: 20 20 25;

[SPECIAL ROOMS AMBIENT COLORS]
Dead ends/Checkpoints: 25 20 20

[SIZES]
Walls width: MINIMAL;
Secondary lighting lamp (FIRST TYPE) Size: 24x40x3.8;
Door frames: 192x64;
Door frames leading to the room itself size/leading to empty space: 192x32;
THE BEST COORDINATES FOR TEXTURES ARE MULTIPLES OF 5.

Texture dimensions: 1024
Scale factor = 10x (IF DOESN'T COMPILE, INCREASE UNTIL COMPILATION)

[PROPS]
DIFFUSE COLOR: 0xFF969696;
AMBIENT COLOR: 0xFF969696.

[MAIN FIXES]
HIDE ALL TEXTURES THAT PLAYER CAN'T SEE;
REMOVE UNNECESSARY COLLISIONS;
ADD MISSING DECORATIONS (FOR EXAMPLE, THE ROOM HAS SECONDARY LIGHTING LAMPS, BUT DOESN'T HAVE PRIMARY LIGHTING LAMPS);
REMOVE THE LIGHTS FROM THE PRIMARY LIGHTING LAMPS EXCEPT SPECIAL AREAS;