LIGHT RANGE = INTENSITY * 1000

HIDE ALL TEXTURES THAT WE CAN'T SEE;
REMOVE UNNECESSARY COLLISIONS;
ADD MISSING DECORATIONS (FOR EXAMPLE, THE ROOM HAS SECONDARY LIGHTING LAMPS, BUT DOESN'T HAVE PRIMARY LIGHTING LAMPS);
REMOVE THE LIGHTS FROM THE PRIMARY LIGHTING LAMPS;
DOOR FRAMES LEADING TO THE DOOR MUST HAVE 1x16 SIZE;
CHECK YOUR FIXES AND CHANGES INGAME!